$color-text: white;

@mixin border {
  border-radius: 5px;
}

.header {
  background-color: black;
  height: fit-content;
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 50;
  top: 0;
  h1 {
    padding: 15px;
    color: $color-text;
  }
}

.form-container {
  @include border;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.062), 0 0 0 3px rgba(0, 0, 0, 0.336);
  border: 0.8px solid;
  max-width: 500px;
  min-width: 330px;
  margin-top: 150px;
  height: fit-content;
  min-height: 50vh;
  background-color: rgb(253, 150, 15);
  padding: 20px;
  margin-bottom: 60px;
  input {
    height: 35px;
    @include border();

    &[type="text"]:focus {
      outline-style: none;
      border: solid 3px green;
    }

    &[type="date"]:focus {
      outline-style: none;
      border: solid 3px green;
    }
  }
  .none {
    display: none;
  }

  .div-name {
    height: fit-content;
    width: 100%;
    position: relative;
    #name {
      width: 100%;
    }
  }
  .error {
    width: 25px;
    right: 10px;
    top: 5px;
    position: absolute;
  }
  .div-lastname {
    display: inline;
    width: 49%;
    position: relative;
    height: fit-content;
    #last-name {
      width: 100%;
    }
  }
  .div-lastnamem {
    display: inline;
    width: 49%;
    position: relative;
    height: fit-content;
    #last-namem {
      width: 100%;
    }
  }
  .direction {
    width: 100%;
    height: fit-content;
    .div-direction {
      display: inline;
      position: relative;
      height: fit-content;
      #direction {
        width: 100%;
      }
    }
  }

  .container-bday {
    width: 100%;
    height: fit-content;
    .select {
      margin-top: 20px;
    }
  }
  #enviar {
    @include border();
    background-color: black;
    color: $color-text;
    width: 150px;
    height: 35px;
    border: none;
    &:hover {
      background-color: rgb(48, 48, 48);
    }
    &:active {
      background-color: black;
      box-shadow: 0 0 0 2px rgb(0, 255, 0), 0 0 0 4px rgba(1, 255, 1, 0.048);
    }
    &:disabled {
      background-color: rgb(163, 163, 163);
    }
    a{
      display: block;
      
      
    }
  }

  .warning {
    @include border();
    border: solid red 0.5px;
    background-color: white;
    text-align: center;
    height: fit-content;
    font-size: small;
  }
}

.none {
  display: none;
}
.table-sec {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  .table {
    table-layout: inherit;
    font-size: 1rem;
    text-align: center;

    border-radius: 15px;
    .thead-one {
      background-color: black;
      color: $color-text;
      height: 40px;
    }
    .tbody {
      background-color: white;
      font-size: 0.8rem;
    }
  }
}

.btnStyle {
  width: 150px;
  height: fit-content;
  display: block;
  background-color: black;
  color: $color-text;
  font-weight: bold;
  @include border();
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  &:hover {
    background-color: rgb(48, 48, 48);
  }
  &:active {
    background-color: black;
    box-shadow: 0 0 0 2px rgb(0, 255, 0), 0 0 0 4px rgba(1, 255, 1, 0.048);
  }
}
.sec-back{
  position: absolute;
  top: 0;
  width: 100%;
  height: 300vh;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 30;
  .sec-prom{
    position: fixed;
    left: 50%;
    margin-top: 150px;
    margin-left: -350px;
    background-color: white;
    border: solid black 0.5px;
    @include border();
    width: 90%;
    max-width: 700px;
    height: fit-content;
    
  }
}
.btn-close{
  display: block;
  margin-left: 95%;
  margin-top: 10px;
  
  
}
.text{
  color: dimgrey;
}
@media (max-width: 768px) {
  
    
  .table-sec {
    .table {
      
      
      font-size: 10px;
      
      .tbody {
        
        font-size: 10px;
      }
    }
  }
  
  
}
@media (max-width: 576px) {
  .form-container {
    height: 600px;
    width: 90vw;
    .div-lastname {
      width: 100%;
    }
    .div-lastnamem {
      width: 100%;
    }
    .container-bday {
      width: 100%;
      height: fit-content;
      .select {
        margin-top: 0px;
      }
    }
  }
  .table-sec {
    .table {
      
      
      font-size: 6px;
      
      .tbody {
        
        font-size: 6px;
      }
    }
  }
  .btnStyle {
    width: 150px;
    font-size: .6rem;
    
   
  }
  .sec-back{
    
    
    
    height: 250vmax;
    
    .sec-prom{
      
      
      width: 300px;
      margin-left: -150px;
      
    }
  }
  .btn-close{
    
    margin-left: 90%;
    
    
    
  }
}